[submodule "control-interface-v2"]
	path = control-interface-v2
	url = https://github.com/noodlekid/control-interface-v2
[submodule "tileserver-gl"]
	path = tileserver-gl
	url = https://github.com/noodlekid/tileserver-gl
